@font-face {
    font-family: 'Cities Typeface';
    src: url('../Font/transfonter.org-20250201-143453/CitiesTypeface.woff2') format('woff2'),
        url('../Font/transfonter.org-20250201-143453/CitiesTypeface.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

