* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --bg-color: #121212;
  --white-color: #ffff;
  --text-color: #DDB637;
  --card-color: #B30024;
  --button-color: #EC0030;
  --fs-24: 24px;
  --fs-64: 64px;
  --fs-18: 18px;
  --fs-46: 46px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --cities-typeface: "Cities Typeface";
  --em-one:"Em One";
}


ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Header Start */
header {
  width: 100%;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(5px);
  position: fixed;
}

header .menu ul li {
  font-size: var(--fs-24);
  font-weight: 500;
  font-family: var(--em-one);
}
header .menu ul li a{
  color: var(--white-color);
  transition: 0.2s;
}

header .menu ul li a i {
  font-size: 42px;
}

header .btn a {
  color: var(--white-color);
  background-color: red;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--em-one);
  transition: 0.5s;
}

/* Banner Start */
.banner .bg-banner {
  background-image: url('../Images/RecentlyAnnounced\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 100vh;
  position: relative;
}

/* Banner End */

/* Games Start */
.games-title span {
  padding-right: 20px;
  font-size: var(--fs-46);
  /* color: var(--white-color); */
  font-weight: normal;
  color: var(--white-color);
  font-family: var(--em-one);
  cursor: pointer;
  transition: 0.2s;
}

.games-content {
  padding-top: 144px;
}

.games-title span::after {
  content: "";
  width: 400px;
  display: inline-block;
  border-bottom: 5px solid var(--white-color);
  position: relative;
  margin-left: 28px;
  top: -10px;
}

.games-content .btn a {
  color: var(--white-color);
  background-color: red;
  padding: 5px 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--em-one);
  transition: 0.5s;
}

.games-images {
  padding-top: 30px;
}
.games-images img{
  transition: 0.5s;
  cursor: pointer;
}

.games-images h2 {
  font-size: var(--fs-22);
  color: var(--white-color);
  padding-right: 90px;
  padding-top: 25px;
  color: var(--text-color);
  font-family: var(--cities-typeface);
}

.collaborators-content {
  padding-top: 144px;
}

.collaborators-title span::after {
  content: "";
  width: 400px;
  display: inline-block;
  border-bottom: 5px solid var(--white-color);
  position: relative;
  margin-left: 28px;
  top: -10px;
}

.collaborators-title span {
  padding-right: 20px;
  font-size: var(--fs-46);
  /* color: var(--white-color); */
  font-weight: normal;
  color: var(--white-color);
  font-family: var(--em-one);
  transition: 0.2s;
  cursor: pointer;
}

.collaborators-images {
  padding-top: 30px;
}
.collaborators-images img{
  transition: 0.5s;
  cursor: pointer;
}
/* Tournament start */
.tournament-content {
  padding-top: 144px;
  
}

.tournament-title span::after {
  content: "";
  width: 400px;
  display: inline-block;
  border-bottom: 5px solid var(--white-color);
  position: relative;
  margin-left: 28px;
  top: -10px;
}

.tournament-title span {
  padding-right: 10px;
  font-size: var(--fs-46);
  /* color: var(--white-color); */
  font-weight: normal;
  color: var(--white-color);
  font-family: var(--em-one);
  transition: 0.2s;
  cursor: pointer;
}
.tournament-content .btn a{
  background-color: red;
  padding: 5px 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--em-one);
  transition: 0.5s;
}
.tournament-1,
.tournament-2 {
  background-color: var(--card-color);
  padding: 5px;
  border-radius: 12px;
  margin-top: 30px;
  overflow: hidden;
}

.tournament-1 img,
.tournament-2 img,
.tournament-3 img,
.tournament-4 img {
  width: 100%;
  transition: 0.5s;
  
}

.tournament-1 .description-title,
.tournament-2 .description-title,
.tournament-3 .description-title,
.tournament-4 .description-title {
  padding-top: 15px;
}

.tournament-1 .description-title h3,
.tournament-2 .description-title h3,
.tournament-3 .description-title h3,
.tournament-4 .description-title h3 {
  font-size: var(--fs-18);
}

.tournament-1 .description-title .btn a,
.tournament-2 .description-title .btn a,
.tournament-3 .description-title .btn a,
.tournament-4 .description-title .btn a {
  background-color: var(--button-color);
  padding: 5px 10px;
  border-radius: 8px;
}

.tournament-1 .description-info p,
.tournament-4 .description-info p {
  font-size: var(--fs-18);
  padding-right: 120px;
}

.tournament-1 .description-info .btn a {
  background-color: var(--text-color);
  padding: 5px 10px;
  border-radius: 8px;
}

.tournament-2 .description-info p,
.tournament-3 .description-info p {
  font-size: var(--fs-18);
  padding-right: 80px;
}

.tournament-2 .description-info .btn a,
.tournament-3 .description-info .btn a,
.tournament-4 .description-info .btn a {
  background-color: var(--button-color);
  padding: 5px 10px;
  border-radius: 8px;
}

.tournament-3,
.tournament-4 {
  background-color: var(--card-color);
  padding: 5px;
  border-radius: 12px;
  margin-top: 90px;
  overflow: hidden;
}

/* Tournament End */

footer{
  background-color: var(--card-color);
  margin-top: 144px;
}
footer h2{
  padding-top: 30px;
  font-size: var(--fs-46);
  font-family: var(--em-one);
}
footer h3{
  font-size: var(--fs-24);
  padding: 52px 0;
  font-family: var(--cities-typeface);
}

/* SLIDER START */


.scroller { 
  max-width: 1400px;
  /* border: 3px solid lime; */
}

.scroller__inner {
  display: flex;
  padding-block: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
  animation-delay: 1s;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}
.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='slow'] {
  --_animation-duration: 20s;
}
.scroller[data-speed='fast'] {
  --_animation-duration: 10s;
}


@keyframes scroll {
  to {
      transform: translate(calc(-50% - 0.5rem));
  }
}

footer a img{
 width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 300ms;
  filter: grayscale(.2);
  cursor: pointer;
}

.scroller[data-animated="true"] .scroller__inner:has(img:hover, img:active, img:focus) {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

footer img:hover, footer img:focus, footer img:active {
  transform: scale(1.1);
  filter: saturate(1.5);
}

.scroller[data-animated="true"] .scroller__inner:has(li:hover, li:active, li:focus) {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* SLIDER END */


/* HOVER START */
header .btn a:hover , .games .btn a:hover , .tournament-content .btn a:hover{
  background-color: transparent;
  border: 1px solid var(--card-color);
  color: var(--white-color);
}

.tournament-1 img:hover , .tournament-2 img:hover , .tournament-3 img:hover , .tournament-4 img:hover{
  transform: scale(1.1);
}

.collaborators-title span:hover , .games-title span:hover , .tournament-title span:hover{
  color: var(--button-color);
  text-shadow:  2px 2px 15px var(--card-color);
}

header .menu ul li a:hover{
  color: var(--text-color);
}


.games-images img:hover , .collaborators-images img:hover{
  transform: scale(1.1);
}